
@{
    ViewBag.Title = "getTicketFlow";
    Layout = "~/Views/Shared/_Layout - Movie.cshtml";
}

<h2>取票流程</h2>
<br/><br /><br />
<h3>1、在电影院中找到取票机，点击取票</h3>
<img src="~/img/step1.jpg" width="300" height="370" />
<br /><br />
<h3>2、手动输入手机后四位和取票码</h3>
<img src="~/img/step2.jpg" width="300" height="370" />
<br /><br />
<h3>3、然后就可以在取票口取票了</h3>
<img src="~/img/step3.jpg" width="300" height="370" />
<img src="~/img/step4.jpg" width="300" height="370" />
