@model CinemaTicket.Models.MovieModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Movie.cshtml";
}

<div id="all">
    <div class="search">
        <form>
            <input type="text" placeholder="搜索从这里开始...">
            <button type="submit">搜索</button>
        </form>
    </div>

    <div id="filter">
        <br />
        <br />
        <br />
        <span class="tagName">类型：</span>
        <ul class="typeTags type">
            <li>
                <a class="active" href="#">全部</a>
            </li>
            <li>
                <a href="#">动作</a>
            </li>

        </ul>
        <br />
        <br />
        <br />
        <span class="tagName">地区：</span>
        <ul class="typeTags area">
            <li>
                <a class="active" href="#">全部</a>
            </li>
            <li>
                <a href="#">欧美</a>
            </li>

        </ul>


    </div>
    <br />
    <br />
    <div id="movieList">
        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/mizhan.jpg" width="190" height="280" />
                <br />
                <span>密战</span>
            </a>
        </div>

        <div class="movie">
            <a href="#">
                <img src="~/img/leishen.jpg" width="190" height="280" />
                <br />
                <span>雷神</span>
            </a>
        </div>


    </div>

    <div id="page">
    </div>

</div>