
@{
    ViewBag.Title = "success";
    Layout = "~/Views/Shared/_Layout - Movie.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/success.css" />
<div id="successTip">
    <table>
        <tr>
            <td rowspan="2"><img src="~/img/交易成功.png" width="150" height="150" /></td>
        </tr>
        <tr>
            <td>交易成功,系统已收到您的付款<br />您的取票码为：@ViewBag.getNum</td>
        </tr>
    </table>

</div>

