@{
    ViewBag.Title = "Contact";
}
<h2>联系我们</h2>

<address>
    <strong>电子邮件:</strong>   <a href="mailto:longlou.d@foxmail.com">longlou.d@foxmail.com</a><br />
    <strong>电话号码:</strong> <a href="#">020-87818110</a>
</address>